/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/*Formulário de Login */
#login-form {
    max-width: 400px;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.header {
    background-color: #005b91;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
}

.header-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

/* Formulário de Cadastro */
#formulario {
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para campos de entrada e rótulos */
input.form-control,
select.form-control {
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para rótulos de blocos */
.fieldset-label {
    font-size: 16px;
    margin-top: 20px;
}

label {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.highlight-link {
    color: #00bcd4;
    text-decoration: underline;
    cursor: pointer;
}

/* Estilos para botões */
.button-label {
    background-color: #0095d6;
    width: calc(33.33% - 10px);
    height: auto;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
}

.button-label:hover,
.button:hover {
    background-color: #005b91;
    color: #fff;    
}

/* Estilos para mensagens de erro */
.text-danger {
    color: #ff4040;
    font-size: 14px;
    margin-top: 2px;
}

/* Estilos para o link dos Termos de Uso */
a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para o aceite dos Termos de Uso */
#aceite-termos {
    vertical-align: middle;
}

/* Estilos para os botões */
.button {
    background-color: transparent;
    width: calc(33.33% - 10px);
    height: auto;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    display: inline-block;
    text-align: center;
    color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
}

/* Estilos para o último botão da linha */
.button:last-child {
    margin-right: 0;
}

/* Estilos para as imagens nos botões */
.button img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

